{% extends "OOPDFapp/base_generic.html" %}
{% load static %}
{% block styles %}
	
	<link rel='stylesheet' href="{% static 'OOPDFapp/stylegame.css' %}">
{% endblock styles %}

{% block content %}
	
</ul>

<h1>You are gaming</h1>

<div class ="terminal">
	<p id='question'>
	 <span class="cursor">|</span>
		</p>

<button id="a-select-btn">A</button> <button id ="b-select-btn">B</button> <button id="c-select-btn">C</button> <button id="d-select-btn">D</button>

</div>		
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'OOPDFapp/js/game-script.js' %}"></script>
{% endblock scripts %}

