body {
		height: 100%;
}

.blackboard {
		width: 640px;
		height: 45vh;
		min-height: 250px; 
		max-height: 400px;
		margin: 7% auto;
		border: tan solid 12px;
		border-top: #bda27e solid 12px;
		border-left: #b19876 solid 12px;
		border-bottom: #c9ad86 solid 12px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
		background-color: #3B653D;
		background-image: url("./images/chalkboard-black.jpg");

}


#flashcard-container {
		display: flex;
		justify-content: center;
		vertical-align: middle;

}

p {
		text-align: center;
		margin-bottom: 1em;
		font-family: 'Permanent Marker', chalkduster;
		font-size: 5em;
		color: rgba(238, 238, 238, 0.7);
}
